@import url('https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

#login-view {
    display: grid;
    padding: 1%;
}

:host {
    display: block;
    padding-top: var(--lumo-space-m);
    padding-right: var(--lumo-space-l);
    padding-left: var(--lumo-space-l);
    padding-bottom: var(--lumo-space-m);
}

.logo{
    font-family: 'Jeju Myeongjo', serif;
    color: #cccccc;
}

/* styles.css */

/* Style for custom button */
.custom-button-white {
    background-color: #adaaaa; /* Green background */
    color: #000000; /* White text */
    border: none; /* Remove default border */
    border-radius: 12px; /* Rounded corners */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove default text underline */
    display: inline-block; /* Display inline-block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    transition-duration: 0.4s; /* Transition duration for hover effect */
    font-family: 'Jeju Myeongjo', serif;
}

.vaadin-drawer-toggle{

}

vaadin-app-layout::part(drawer){
    background: #312f2f;
}

vaadin-drawer-toggle::part(icon)::before{
    color: #cccccc;
}

/* Hover effect */
.custom-button-white:hover {
    background-color: white; /* White background */
    color: black; /* Black text */
    border: 2px solid #939292; /* Green border */
}

.custom-button-black {
    background-color: #181818; /* Green background */
    color: #cbc3c3; /* White text */
    border: none; /* Remove default border */
    border-radius: 12px; /* Rounded corners */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove default text underline */
    display: inline-block; /* Display inline-block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    transition-duration: 0.4s; /* Transition duration for hover effect */
    font-family: 'Jeju Myeongjo', serif;
}

/* Hover effect */
.custom-button-white:hover {
    background-color: #070505; /* White background */
    color: #cbc3c3; /* Black text */
    border: 2px solid #2a2828; /* Green border */
}

.link{
    color: #cccccc;
    font-family: 'Jeju Myeongjo', serif;
}

.header{
    background: black;
    padding: 20px;
}

.product-tile {
    display: flex;
    flex-direction: column;
    #align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #d2d0d0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.product-image {
    width: 100px;
    height: 100px;
    background: #cccccc
}

.product-name {
    font-family: 'Jockey One', serif;
    font-weight: bold;
    margin-top: 10px;
}

.product-description {
    font-family: 'Jockey One', serif;
    margin-top: 5px;
}