@import url('https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Javanese+Text&display=swap');

#login-view {
    display: grid;
    padding: 0;
    margin: 0;
}

.mainbg{
    background: #adaaaa;
}

.settingsbg{
    background: #e0dddd;
}

.loginbg{
    background: #eacd94;
    margin: 0;
    padding: 0;
    /*background-image: url('E:/coding/2-2 project practice/NoteBox-main/frontend/paper.jpg');
    /*background-image: url('E:/coding/2-2 project practice/NoteBox-main/frontend/themes/flowcrmtutorial/loginbg.jpg');
    background-size: cover;
     */
    /*justify-content: center;
    align-items: center;
    height: 100vh;*/
}

vaadin-text-field::part(label){
    color: black;
}

vaadin-password-field::part(label){
    color: black;
}

vaadin-password-field > label{
    color: black;
}

.plsnospace{
    display: flex
}

:host {
    display: block;
    padding-top: var(--lumo-space-m);
    padding-right: var(--lumo-space-l);
    padding-left: var(--lumo-space-l);
    padding-bottom: var(--lumo-space-m);
}

.logo{
    font-family: 'Jeju Myeongjo', serif;
    color: #cccccc;
}

.login-name{
    font-family: 'Jeju Myeongjo', serif;
    color: #000000;
}

/* styles.css */

/* Style for custom button */
.custom-button-white {
    background-color: #adaaaa; /* Green background */
    color: #000000; /* White text */
    border: none; /* Remove default border */
    border-radius: 12px; /* Rounded corners */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove default text underline */
    display: inline-block; /* Display inline-block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    transition-duration: 0.4s; /* Transition duration for hover effect */
    font-family: 'Jeju Myeongjo', serif;
}

.vaadin-drawer-toggle{

}

vaadin-app-layout::part(drawer){
    background: #312f2f;
}

vaadin-drawer-toggle::part(icon)::before{
    color: #cccccc;
}

/* Hover effect */
.custom-button-white:hover {
    background-color: white; /* White background */
    color: black; /* Black text */
    border: 2px solid #939292; /* Green border */
}

.custom-button-black {
    background-color: #181818; /* Green background */
    color: #cbc3c3; /* White text */
    border: none; /* Remove default border */
    border-radius: 12px; /* Rounded corners */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove default text underline */
    display: inline-block; /* Display inline-block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    transition-duration: 0.4s; /* Transition duration for hover effect */
    font-family: 'Jeju Myeongjo', serif;
}

/* Hover effect */
.custom-button-black:hover {
    background-color: #070505; /* White background */
    color: #cbc3c3; /* Black text */
    border: 2px solid #2a2828; /* Green border */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    /* Set the height of the container to the viewport height */
}

.link{
    color: #cccccc;
    font-family: 'Jeju Myeongjo', serif;
}

.linkb{
    color: #0e0101;
    font-family: 'Jeju Myeongjo', serif;
}

/*.header{
    background: black;
    padding: 20px;
}*/

.product-tile {
    display: flex;
    flex-direction: column;
    #align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #d2d0d0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.product-image {
    width: 100px;
    height: 100px;
    background: #cccccc;
    border-radius: 20px;
}

.dash-image{
    width: 170px;
    height: 200px;
    background: #cccccc;
    border-radius: 20px;
}

.product-name {
    font-family: 'Jockey One', serif;
    font-weight: bold;
    margin-top: 10px;
}

.dash-name{
    font-family: 'Javanese Text', serif;
    font-weight: bold;
    margin-top: 10px;
}

.product-description {
    font-family: 'Jockey One', serif;
    margin-top: 5px;
}

.dash-description{
    font-family: 'Javanese Text', serif;
    margin-top: 5px;
}

/* shared-styles.css */

body {
    font-family: 'Arial', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #313030;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.nav-bar span,
.nav-bar button {
    margin: 10px;
    font-size: 16px;
    font-family: 'Jeju Myeongjo', serif;
    color: #939292;
}

.hero-section {
    background-image: url("E:/coding/2-2 project practice/NoteBox-main/frontend/paper.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    /*background: #5d5d5d;*/
    background-size: cover;
    color: white;
    text-align: center;

}

.teambg{
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: #5d5d5d;*/
    background-size: cover;
    color: white;
    text-align: center;
}

.almost-hero{
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    /*background: #5d5d5d;*/
    background-size: cover;
    color: white;
    text-align: center;
}

.rmbg{
    background-image: url('E:/coding/2-2 project practice/NoteBox-main/frontend/readmore.jpg');
    filter: grayscale(50%)
}

.rm-text{
    color: #ffffff;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-family: 'Jockey One', serif;
}

.ah-text{
    color: #000000;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Jockey One', serif;
}

.ah-span-text{
    color: #000000;
    padding: 20px;
    font-family: 'Javanese Text', serif;
}

.hero-text {
    color: #dcdcdc;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Jockey One', serif;
}

.dashboard-name{
    color: #030000;
    padding: 20px;
    border-radius: 5px;
    font-size: 60px;
    font-family: 'Jeju Myeongjo', serif;
}

vaadin-upload > vaadin-button{
    background-color: #181818; /* Green background */
    color: #cbc3c3; /* White text */
    border: none; /* Remove default border */
    border-radius: 12px; /* Rounded corners */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove default text underline */
    display: inline-block; /* Display inline-block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    transition-duration: 0.4s; /* Transition duration for hover effect */
    font-family: 'Jeju Myeongjo', serif;
}

vaadin-upload{
    align-items: center;
}

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 5px;
}

.upload-button {
    margin-right: 10px;
}

.upload-drop-label {
    margin-left: 10px;
}

vaadin-upload-file[complete]{
    color: black;
}

vaadin-upload > [slot="drop-label-icon"]{
    box-sizing: border-box;
}

.dash-small{
    color: #0e0101;
    font-size: 20px;
    font-family: 'Javanese Text', serif;
}

.span-text{
    color: #cccccc;
    padding: 20px;
    font-family: 'Javanese Text', serif;
}

.hero-text-h1 {
    margin: 0;
    font-size: 40px;
    color: #181818;
    border-radius: 5px;
    font-family: 'Jockey One', serif;
}

.hero-text-span {
    color: #181818;
    padding: 20px;
    font-family: 'Javanese Text', serif;
}

.content-section {
    background-image: url('E:/coding/2-2 project practice/NoteBox-main/frontend/takingnote.jpg');
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
    background-color: #f9f9f9;
}


.content-box {
    background: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.content-box-h1 {
    margin-top: 0;
    font-size: 24px;
}

.content-box-span {
    margin: 20px 0;
    display: block;
    font-size: 16px;
}

.content-box-button {
    margin-top: 10px;
}

.footer{
    background: #313030;
}

.footer-text{
    color: #cccccc;
    font-family: 'Jeju Myeongjo', serif;
}

.note {
    background-color: #f0f0f0;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.horizontal-scroll {
    display: flex;
    overflow-x: auto;
}

.notes-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid #ccc;
    overflow-x: auto;
    padding: 5px;
    width: 60%;
}

.custom-card {
    position: relative;
    width: 200px; /* Adjust the width as needed */
    text-align: center;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #3a3a3a;
    height: 300px;
}

.imagee-containerr {
    position: absolute;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    height:200px
}

.profile-image {
    width: 100%;
    border-bottom: 5px solid #ffffff;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 200px;
}

.text-container {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #cccccc;
    font-family: 'Jockey One', serif;
}

.card-title {
    font-size: 0.9em;
    color: #cccccc; /* Lighter color for the title */
    font-family: 'Jeju Myeongjo', serif;
}
